<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>projectignite2017.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB4FCC491E3D3BC7009A886A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB4FCC681E3D3BC8009A886A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB4FCC731E3D3BC8009A886A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
